<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gambling Awareness</title>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
</head>
<body>
    <div class="header" id="top_header">
        <div class="sidebar">
            <button class="open-button" onclick="openNav()">Open Sidebar</button>
                <div id="sidebar" class="sidebar-menu">
                    <p class="close-button" onclick="closeNav()"> <strong> Close Sidebar </strong> </p>
                    <div class="sidebar_items">
                        <p>Lorem Ipsum</p>
                        <p>Lorem Ipsum</p>
                        <p>Lorem Ipsum</p>
                    </div>
                </div>
        </div>
        <h2 id="header_text">National Gambling Hotline: 0808 8020 133</h2>
    </div>
        <p>Welcome to my website. This website provides a variety of resources for those suffering from gambling addiction and anyone seeking information about gambling addiction</p>
    <h1>Overview</h1>
    <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum
        , altera fabulas ut qorem ipsum dolor sit amet, illum definitiones no quo, maluisset
        concludaturque et eum, altera fabulas ut qorem ipsum dolor sit amet, illum definitiones
        no quo, maluisset concludaturque et eum, altera fabulas ut qLorem ipsum dolor sit amet, illum
        definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
        gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et.
        Inciderint efficiantur his ad. Eum no molestiae voluptatibus.Lorem ipsum dolor sit
        amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo.
        Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae
        nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.Lorem ipsum dolor
        sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas
        ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
        repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.Lorem
        ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera
        fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et.
        Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <h1>Articles</h1>
        <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera
            fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
            repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <h1>Try our quiz to see if you are at risk of gambling addiction</h1>
        <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera
            fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
            repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <h1>Stories and Testimonials</h1>
        <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera
            fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
            repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <h1>Discuss gambling addiction anonymously with others</h1>
        <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
    <h1>Get help</h1>
        <p>Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera
            fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus
            repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
</body>
</html>